
fieldset{
  background-color:#CEF6EC;
  padding:16px;
  
  border:1px solid green;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
}

legend{
	color:green;
}

panel{
	color: blue;
	
}

#background
{width: 1300px;
height:500px;
	
	background-position: center;
	background-repeat:no-repeat;
		
}